.app {
  display: grid;
  grid-template-columns: 16rem 1fr;
  align-items: flex-start;
  gap: 2rem;

  width: 100%;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  html { font-size: 87.5%; }
  
  .app { grid-template-columns: 1fr; }
}